p a
{
    color: purple;
    background-color: yellow;
}

nav ul li{
    color: pink;
}


nav ul li a{
    color: rgb(95, 46, 54);
    text-decoration: none;
}

p+h3
{
    text-decoration: underline;
}