/* its the part of responsive in phone */

 body
{
  background: red;
}
    
/* #navbar
{
    flex-direction: column;
}
    
    #service
    {
        flex-direction: column;
    }



     #Service.box
     {


     } */